.title-outlined {
  width: 100%;
  max-width: 1140px;
  margin: 0;
  height: 50px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #dadada;
}

@media screen and (width < 768px) {
  .title-outlined {
    font-size: 18px;
    line-height: 22px;
  }
}
