.profile {
  height: calc(100vh - 234px);
  width: 410px;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.profile__title {
  margin: 0 auto 104px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.profile__form {
  margin: 0 0 220px;
}
.profile__row {
  display: flex;
  justify-content: space-between;
}
.profile__row:first-of-type {
  border-bottom: 1px solid #424242;
}
.profile__text {
  margin: 0;
  padding: 16px 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
}
.profile__buttons {
  display: flex;
  flex-direction: column;
}
.profile__button {
  cursor: pointer;
  border: none;
  background: transparent;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  transition: all 0.3s ease-in-out;
}
.profile__button:first-of-type {
  margin: 0 0 16px;
}
.profile__button_color_white {
  color: #ffffff;
}
.profile__button_color_red {
  color: #ee3465;
}

@media screen and (width < 1024px) {
  .profile__title {
    margin: 0 auto 96px;
  }
}

@media screen and (width < 768px) {
  .profile {
    height: calc(100vh - 170px);
    padding: 70px 0 0;
    width: 300px;
    justify-content: space-between;
  }
  .profile__title {
    margin: 0 auto;
  }
  .profile__form {
    margin: 0;
  }
  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }
}
