.section {
  box-sizing: border-box;
  padding: 110px 0;
}
@media screen and (width < 1024px) {
  .section {
    width: 89%;
    padding: 90px 0;
  }
}
@media screen and (width < 768px) {
  .section {
    padding: 70px 0;
  }
}
