.app {
  min-height: 100vh;
  background-color: #202020;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.app__wrapper {
  padding: 10px;
  width: calc(100%-20px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
