.header {
  width: 100%;
  max-width: 1140px;
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: block;
  object-fit: cover;
  width: 38px;
  height: 38px;
}
