.header {
  width: 94.5%;
  max-width: 1140px;
  padding: 8px 16px 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: block;
  object-fit: cover;
  width: 38px;
  height: 38px;
  flex-basis: 0;
}
.header__menu-button {
  display: none;
}

@media screen and (width < 768px) {
  .header {
    width: 97.5%;
    padding: 5px 16px 29px;
  }
  .header__menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    width: 44px;
    height: 44px;
    background: transparent;
  }
  .header__menu-icon {
    display: block;
  }
}
