.movie-card {
  width: 270px;
  box-sizing: border-box;
}
.movie-card__image {
  display: block;
  object-fit: cover;
  width: 270px;
  height: 150px;
}
.movie-card__description {
  padding: 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  border-bottom: 1px solid #424242;
}
.movie-card__title {
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}
.movie-card__button {
  border: none;
  background: transparent;
  background-image: url(../../../images/like-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 24px;
  height: 24px;
}
.movie-card__duration {
  margin: 6px 0 0 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #8b8b8b;
}

@media screen and (width < 1024px) {
  .movie-card {
    width: 340px;
  }
  .movie-card__image {
    width: 340px;
    height: 190px;
  }
}

@media screen and (width < 768px) {
  .movie-card {
    width: 300px;
  }
  .movie-card__image {
    width: 300px;
    height: 168px;
  }
  .movie-card__title {
    font-size: 12px;
    line-height: 15px;
  }
  .movie-card__duration {
    font-size: 10px;
    line-height: 12px;
  }
}
