.footer {
  width: 95%;
  max-width: 1140px;
  padding: 74px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer__description {
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #8b8b8b;
  border-bottom: 1px solid #424242;
}
.footer__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}
.footer__links {
  display: flex;
  gap: 20px;
}
.footer__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

@media screen and (width < 1024px) {
  .footer {
    padding: 59px 0 20px;
    gap: 18px;
  }
}

@media screen and (width < 768px) {
  .footer {
    gap: 27px;
  }
  .footer__description {
    font-size: 12px;
    line-height: 15px;
  }
  .footer__info {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  .footer__copyright {
    font-size: 12px;
    line-height: 15px;
    color: #8b8b8b;
  }
  .footer__links {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }
}
